API_URL_PROD= Url donde se aloja la api para producción
API_URL_DEV= Url donde se aloja la api para desarrollo (debe ser localhost:81 para evitar problemas TODO: cambiar a solo el puerto de la api, o bien, si v a usar un reverse proxy)
MONGO_INITDB_ROOT_USERNAME= usuario de mongo para inicio de la base de datos
MONGO_INITDB_ROOT_PASSWORD= contraseña de mongo para inicio de la base de datos
MONGO_IP_DEV= ip de la base de datos de mongo en desarrollo (debe ser siempre el nombre del servicio en docker compose)
MONGO_PORT_DEV= puerto de mongo en desarrollo (usualmente es 27017)
MONGO_USERNAME_DEV= usuario de mongo en desarrollo, genralmente es igual a ${MONGO_INITDB_ROOT_USERNAME}
MONGO_PASS_DEV=contraseña de mongo en desarrollo, genralmente es igual a ${MONGO_INITDB_ROOT_PASSWORD}
MONGO_AUTH_DB_DEV=nombre de la base de datos de mongo para la autenticación en desarrollo (siempre es admin xd)
MONGO_DATABASE_DEV=nombre de la base de datos de mongo para laboratorio en desarrollo, generalmente la llamo "laboratorio_info" (sin comillas)
MONGO_IP_PROD=ip de la base de datos de mongo en produccion
MONGO_PORT_PROD= puerto de mongo en producción
MONGO_USERNAME_PROD=usuario de mongo en producción, genralmente es igual a ${MONGO_INITDB_ROOT_USERNAME}
MONGO_PASS_PROD=usuario de mongo en desarrollo, genralmente es igual a ${MONGO_INITDB_ROOT_USERNAME}
MONGO_AUTH_DB_PROD=nombre de la base de datos de mongo para la autenticación en producción
MONGO_DATABASE_PROD=nombre de la base de datos de mongo para laboratorio en producción, generalmente la llamo "lboratorio_info"
GCP_REGION=Region de la nube de google cloud donde despliego la info
GCP_PROJECT=Id del proyecto de google cloud
GCP_ARTIFACT_REG= Nombre del artifact registry de google cloud
BACKEND_IMG=Nombre de la imagen de backend con la que se subirá a gcp, generalmente la llamo backend_dev
FRONTEND_IMG=Nombre de la imagen de frontend con la que se subirá a gcp, generalmente la llamo frontend_dev
